/**----Header----**/
.header-10 {
  position: flex;
  top:0;
  z-index: 100;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  background: #233240;
  color: white;
}

body{
  margin:0;
  height: 500px;
}

h1 {
  display: flex;
  justify-content:center;
}

ul > a {
  padding: 29px 20px 27px;
  font-size: 25px;
  font-weight: normal;
  color: #7f8c8d;
  font-weight: 600;
  color: #ffffff;
  text-decoration: solid ;
}
.container { /*use for card as well*/ 
  display: flex;
	flex-wrap: wrap;
	justify-content: right;
	width: 100%;
	margin: 20px 0 80px;
}
.pull-left {
  float: none !important;
}

/**----body----**/
.def {
  margin: 20px;
  color:blue;
  font-size: x-large;
}

.flip-card {
  background-color: transparent;
  width: 50%;
  height:max-content;
  display:flex;
}

.flip-card-inner {
  display:flex;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/*.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transition-duration: 5s;
}*/

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5%;

}

.flip-card-front {
  padding:50%;
  background-color: #797ef6;
  color: whitesmoke;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* Style for the Previous button */
.previous {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

/* Style for the Next button */
.next {
  position: absolute;
  bottom: 0;
  right: 0;
}

button {
  border-color:transparent;
  background-color:transparent
}

@media (max-width: 390px) {
  section {
    width: 100%;
    height: 20%;
    margin:0
  }
  
  h1{
    font-size: 16pt;
    margin-bottom: 0%;
    margin-left: -70%;
    min-width: 200px;
  }
  .header-10{
    font-size-adjust: initial;
  }
  
  .flip-card{
    max-width: 200px;
    text-align: center;
    justify-content: center;
    ;
  }

  .flip-card-front{
    max-width: 40%;
    margin-left: 30%;
    margin-top: 40%;
  }


.flip-card-back{
  max-width: 300px;
  margin-left:-40%
}

.flip-card-inner{
  padding: auto;;
}

.def{
  display: flex;
  margin-top: 10px;
}

.previous {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.end {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

}
@media (min-width:391px) and (max-width:1023px){

  h1{
    font-size: 16pt;
    min-width: 200px;
    margin-left: -70%;
  }

    
  .flip-card{
    max-width: 300px;
    text-align: center;
    justify-content: center;
  }

  .flip-card-front{
    width: 40%;
    margin-left: 30%;
    margin-top: 50%;
  }


.flip-card-back{
  width: 300px;
  margin-left:-80%
}

.flip-card-inner{
  padding: auto;;
}

.def{
  display: flex;
  margin-top: 10px;
}

.previous {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.end {
  position: absolute;
  bottom: 10px;
  left: 10px;
}


}

@media (min-width: 1024px){
  .flip-card-front{
    width: 50%;
    margin-left:30%
  }
  
  .flip-card-back{
    width: 900px;
    margin-left:-70%
  }


h1{
  font-size: 30pt;
  margin-bottom: 0%;
  margin-left:0%;
}
.header-10{
  font-size-adjust: initial;
}

.previous {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.end {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

}


/* Style for Vocabulary page */

.ygParent{
	position:fixed;
	top: 10%;
	left: 30%;
	width:340px;
	display:none;
}

.playable {  
	cursor:pointer;
	font-size:20px;
}

/*Card Setup*/
.at-layout-vertical {
  display: flex;
  flex-direction: column;
}
.at-layout-container {
  flex: auto;
}

.at-table-fix {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.at-table-fix.awesome-card{
  font-size: 10pt; 
}

.awesome-card.container {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.awesome-card.paper-card {
  display: flex;
  flex: 1 0 auto;
  min-width: 230px;
  max-width: 100%;
  width: calc(100%/4);
}

.card-content {
  padding-top: 80px;
  color: #cecece;
  border: 1px #cecece;
  margin: 25px;
}

h6 {
  font-size: xx-large;
}

.title {
  padding: 10px 10px 0 10px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.card-content:hover{
  box-shadow:rgb(0 0 0/40%) 0 8px 16px 0;
  z-index: 10;
}

.paper-container{
  width: 100%;
  font-family: 'Lato', san-serif;
  position: relative;
}

.paper-card{
  min-width: 100%
  width: 100%
}

.layer1 {
  color:white;
  text-decoration:none;
}

a:-webkit-any-link {
  color: whitesmoke ;
  cursor: pointer;
  text-decoration: underline;
}

p:-webkit-any-link {
  color: whitesmoke ;
  cursor: pointer;
  text-decoration: underline;
}

.description {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 300;
}

.layer1 img {
  width: 100%;
  display: block;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.paper-card:hover .layer1{
  opacity:0.7;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

 .layer2 {
  background-color:rgba(0,0,0,0.3);
  position:absolute;
  bottom:0;
  overflow:hidden;
  max-height: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.layer2-onload {
  max-height: 300px;
  min-height: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.layer2 div h6 a p {
  min-width: 100%;
  text-align: center;
  opacity:0.8;
  color:whitesmoke;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}



.layer2 a:hover {
  opacity:1;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.paper-card:hover .layer2 {
  max-height: 200px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}